* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid paleturquoise;
  border-radius: 1rem;
  min-width: 200px;
  max-width: 400px;
  position: relative;
}

.article i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  color: red;
}

a {
  color: #1e81b0;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

h3 {
  color: #1e81b0;
}

.author {
  color: #1e81b0;
  font-style: italic;
}

input {
  margin: 20px;
}

nav {
  margin-left: -20px;
}

.message {
  margin: 20px;
  color: grey;
}
